<div id="<%= dom_id article %>">
  <% if beta? :delete_account_feature, current_user %>
    <p>You can delete account</p>
  <% end %>
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

</div>
